In [2]:
from src.utils import DatabaseManager

db=DatabaseManager()
df=db.execute_query('select * from cleaned_data',fetch=True)

In [3]:
df.columns

Index(['education', 'income', 'kidhome', 'teenhome', 'recency', 'wines',
       'fruits', 'meat', 'fish', 'sweets', 'gold', 'numdealspurchases',
       'numwebpurchases', 'numcatalogpurchases', 'numstorepurchases',
       'numwebvisitsmonth', 'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5',
       'acceptedcmp1', 'acceptedcmp2', 'complain', 'response', 'customer_for',
       'age', 'spent', 'living_with', 'children', 'family_size', 'is_parent'],
      dtype='object')

In [14]:
df

,education,income,kidhome,teenhome,recency,wines,fruits,meat,fish,sweets,...,acceptedcmp2,complain,response,customer_for,age,spent,living_with,children,family_size,is_parent
0,0.0,58138.0,0,0,58,635,88,546,172,88,...,0,0,1,663,66,1617,0.0,0,1,0.0
1,0.0,46344.0,1,1,38,11,1,6,2,1,...,0,0,0,113,69,27,0.0,2,1,1.0
2,0.0,71613.0,0,0,26,426,49,127,111,21,...,0,0,0,312,58,776,1.0,0,2,0.0
3,0.0,26646.0,1,0,26,11,4,20,10,3,...,0,0,0,139,39,53,1.0,1,2,1.0
4,1.0,58293.0,1,0,94,173,43,118,46,27,...,0,0,0,161,42,422,1.0,1,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,0.0,61223.0,0,1,46,709,43,182,42,118,...,0,0,0,381,56,1341,1.0,1,2,1.0
2236,1.0,64014.0,2,1,56,406,0,30,0,0,...,0,0,0,19,77,444,1.0,3,2,1.0
2237,0.0,56981.0,0,0,91,908,48,217,32,12,...,0,0,0,155,42,1241,0.0,0,1,0.0
2238,1.0,69245.0,0,1,8,428,30,214,80,30,...,0,0,0,156,67,843,1.0,1,2,1.0
2239,1.0,52869.0,1,1,40,84,3,61,2,1,...,0,0,1,622,69,172,1.0,2,2,1.0