In [3]:
from src.utils import DatabaseManager

db=DatabaseManager()
df=db.execute_query('select * from cleaned_data',fetch=True)

In [4]:
df.columns

Index(['education', 'income', 'kidhome', 'teenhome', 'recency', 'wines',
       'fruits', 'meat', 'fish', 'sweets', 'gold', 'numdealspurchases',
       'numwebpurchases', 'numcatalogpurchases', 'numstorepurchases',
       'numwebvisitsmonth', 'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5',
       'acceptedcmp1', 'acceptedcmp2', 'complain', 'response', 'customer_for',
       'age', 'spent', 'living_with', 'children', 'family_size', 'is_parent'],
      dtype='object')

In [7]:
df[df.duplicated()]

,education,income,kidhome,teenhome,recency,wines,fruits,meat,fish,sweets,...,acceptedcmp2,complain,response,customer_for,age,spent,living_with,children,family_size,is_parent
83,1.0,38620.0,0,0,56,112,17,44,34,22,...,0,0,0,414,60,318,1.0,0,2,0.0
179,2.0,78497.0,0,0,44,207,26,447,75,0,...,0,0,0,210,72,978,1.0,0,2,0.0
281,0.0,51369.0,0,1,84,297,7,79,0,11,...,0,0,0,612,47,576,1.0,1,2,1.0
282,0.0,37760.0,0,0,20,84,5,38,150,12,...,0,0,0,667,77,317,1.0,0,2,0.0
363,1.0,37717.0,1,0,31,9,0,6,4,1,...,0,0,0,583,45,25,1.0,1,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4475,0.0,61223.0,0,1,46,709,43,182,42,118,...,0,0,0,381,56,1341,1.0,1,2,1.0
4476,1.0,64014.0,2,1,56,406,0,30,0,0,...,0,0,0,19,77,444,1.0,3,2,1.0
4477,0.0,56981.0,0,0,91,908,48,217,32,12,...,0,0,0,155,42,1241,0.0,0,1,0.0
4478,1.0,69245.0,0,1,8,428,30,214,80,30,...,0,0,0,156,67,843,1.0,1,2,1.0
4479,1.0,52869.0,1,1,40,84,3,61,2,1,...,0,0,1,622,69,172,1.0,2,2,1.0

In [15]:
from src.components.variable import dataBase

conn=dataBase.conn

with conn.cursor() as cur:
    cur.execute("SELECT EXISTS (SELECT FROM information_schema.tables WHERE table_name = %s)", ('marketing_campaign',))
    a=cur.fetchone()[0]
    if not a:
        db.create_table(df, 'marketing_campaign')

In [16]:
db.execute_values(df, 'marketing_campaign')

The DataFrame is inserted